canvas
{
    border: solid;
    border-color: black;
    border-width: 0.5px;
}

button
{
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: #008CBA;
    border: 2px solid #008CBA;
    padding: 8px 20px;
    color: white;
    margin-bottom: 20px;
}

button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: white !important;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align everything inside the container to the top */
    gap: 50px; /* Space between canvas and the edit fields */
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content aligns at the top */
}

#toolName, #objectName{
    font-size: x-large;
}
