body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

canvas
{
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background-color: #4F46E5;
    color: white;
    margin-bottom: 20px;
}

button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: white !important;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align everything inside the container to the top */
    gap: 50px; /* Space between canvas and the edit fields */
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content aligns at the top */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#tooltip {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#toolName, #objectName{
    font-size: x-large;
    margin-bottom: 10px;
}

#toolName{
    margin-top: 10px;
}

label {
    font-weight: 400;
    margin-bottom: 5px;
}

input[type="color"],
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 20px;
    cursor: pointer;
}

input[type="color"] {
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type="number"] {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: textfield;
    margin-bottom: 10px;
    width: 50px;
}

input[type="number"]:focus {
    border-color: #4F46E5; /* Indigo focus */
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: 16px;
    height: 16px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

